[Unit]
Description=Run CulturePeople backup health check every six hours

[Timer]
OnCalendar=*-*-* 00/6:20:00
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
